// Colors
$color-dark: #000000;
$color-dark-medium: #232323;
$color-dark-light: #60432e;
$color-primary-700: #896951;
$color-primary-600: #b39077;
$color-primary-500: #dfbaa0;
$color-primary-400: #eedbcd;
$color-primary-300: #f6eee9;
$color-primary-200: #fdf9f6;
$color-primary-bright: #ffb480;
$color-secondary-dark: #00755f;
$color-secondary: #00c9ac;
$color-white: #ffffff;

// Gradients

// Shadows

// Fonts
$font-primary: 'Playfair Display', serif;
$font-secondary: 'Poppins', sans-serif;

// Weights

// z-indexes
