@import './misc/normalize';
@import './misc/variables';

body {
   font-family: $font-primary;
   background: url('/page-bg.svg');
   background-repeat: repeat;
   background-size: 100%;
   height: 100vh;
}

.container {
   padding-inline: 80px;
}
